#gallery {
  h2 {
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
  }
  p {
    padding: 1.2em;
    text-align: start;
  }
}


h2, h3 {
  font-family: 'Archivo Black', sans-serif;
}